{% extends 'base.html' %}
{% load static %}
{% block title %} <title>Cambiar Contraseña</title> {% endblock%}
{% block content%}
<section class="other_pages">
    <div class="container">
        <h1>Cambiar contraseña del usuario {{ request.user }}</h1>
        <div class="password-container">
            <form action="{% url 'Change_Password' %}" method="post"> {% csrf_token %}
                {% for field in form %}
                    <div class="mb-3 form">
                        {{ field.label }}
                        {{ field }}
                {% endfor %}
                    <div class="mb-3 password">
                        <button type="submit" class="btn btn-success">Cambiar contraseña</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
{% endblock %}