{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% block title %} <title>Login</title> {% endblock %}
</head>
<body>
    <main class="main">
      {% if messages %}
        {% for message in messages %}
            <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert" style="margin-bottom: 0px;">
                <p style="font-size: 17px; font-weight: bold;">{{ message }}</p>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
      {% endif %}
      <h1>Control de<br> Dinero online</h1>
        <div class="container">
          <h1 style="color: black">Iniciar Sesión</h1>
          <form action="{% url 'Login' %}" method="POST"> {% csrf_token %}
            <div class="mb-3">
              {{ form.as_p }}
            </div>
            <div class="mb-3">
              <button class="btn btn-primary">Ingresar</button>
            </div>
          </form>
          <div class="more">
            <p style="font-size: 14px; font-weight: bold;">Si aún no tienes cuenta y deseas registrarte <span><a href="{% url 'Register' %}" style="color: rgb(0, 81, 255); font-weight: bold; text-decoration: none;">toca aquí</a></span></p>
          </div>
        </div>
    </main>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script> 
	<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init({
        duration: 2000,
        once: true,
      });
    </script>
</body>
</html>